[submodule "Submodules/xcconfig"]
	path = Submodules/xcconfig
	url = https://github.com/macmade/xcconfig.git
[submodule "Submodules/SMCKit"]
	path = Submodules/SMCKit
	url = https://github.com/macmade/SMCKit.git
[submodule "Submodules/IOHIDKit"]
	path = Submodules/IOHIDKit
	url = https://github.com/macmade/IOHIDKit.git
